<section id="torch-toolbar">
  <div class="torch-container">
    <.link href={~p"/admin/flush_poly_version_cache"} method="delete">Flush Poly Version Cache</.link>
  </div>
</section>
<section id="torch-index-content">
</section>
