<html>
  <head>
    <title>Admin</title>
    <link rel="stylesheet" href={ Phoenix.VerifiedRoutes.static_path(@conn, "/torch/theme.css") }>
  </head>

  <body class={Torch.Helpers.body_classes(@conn) }>
    <header>
      <section id="torch-account-info">
        <div class="torch-container">

          <a href="/">user@example.com</a>
          <a href="/">Logout</a>
        </div>
      </section>

      <section id="torch-nav">
        <div class="torch-container">
          <div class="torch-logo">
            <a href="/">
              <h3>Torch</h3>
            </a>
          </div>
          <nav class="torch-nav">
            <.link href={~p"/dashboard"}>LiveDashboard</.link>
            <a href="/admin/udts">UDT</a>
            <a href="/admin/smart_contracts">Smart Contract</a>
            <a href="/admin/jobs">Job</a>
          </nav>
        </div>
      </section>
    </header>

  <Torch.Component.flash_messages flash={@conn.assigns.flash} />
    <%= @inner_content %>
    <script src={ Phoenix.VerifiedRoutes.static_path(@conn, "/torch/torch.js") }></script>
  </body>
</html>
